* {
    margin: 0px;
    padding: 0px;
}

#contenedorGlobal {
    background-color: #d4d2ae;
    width: 688px;
    height: 640px;
    margin: 0 auto;
    margin-top: 20px;
}

img {
    width: 100px;
    /* display: inline-block; */
}

h1 {
    display: inline-block;
}

#encabezado {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#contenedorPrincipal {
    margin: 0 auto;
    margin-left: 28px;
    margin-top: 20px;
}

.subcontenedor {
    margin: 0 auto;
}

.colorRosado {
    background-color: #f36870;
    padding: 10px 10px 10px 10px;
    border: 2px solid black
}

.colorCeleste {
    background-color: #82b4ee;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
}